.main-footer {
  background-color: black;
  color: #fff;
  min-height: 200px;
}

/* .footercontainer {
  max-width: 1500px;
  width: 80%;
  margin: auto;
}

/* .row {
  display: flex;
  flex-direction: column;
} */

/* li {
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.footer-logo {
  color: #fff;
  font-size: 30px;
} */ */
