.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  color: #fff;
  margin-top: 3em;
  bottom: 0;
  position: relative;
}

.footercontainer {
  max-width: 1500px;
  width: 80%;
  margin: auto;
}
