.tablepage {
  min-height: 80vh;
  max-width: 1500px;
  margin: auto;
  /* width: 80%; */
  margin: 20px auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h2 {
  padding: 20px;
}

h3 {
  
  padding: 0px 20px;
}
.tableheader {
  font-size: 20px;
  font-weight: bold;
}
